<div>
    <form role="form" action="/notify-me-when-in-season" method="post">
        <input type="hidden" name="sku" value="{{sku}}">
        <input type="email" name="email" value="">
        <input type="submit" value="Submit">
    </form>
</div>
